(
    http: ( host: "localhost", ),
    collection: ( flink: ( metrics_initial_delay_secs: 30, max_retries: 0, ), ),
    eligibility: ( template_data: ( cooling_secs: 60, ) ),
    decision: ( template_data: ( max_healthy_cpu_load: 0.0008, min_healthy_cpu_load: 0.0003, ) ),
    engine: ( machine_id: 1, node_id: 1, ),
)