(
    http: (
        host: "0.0.0.0",
    ),
    collection: (
        flink: (
            job_manager_host: "dr-flink-jm-0",
        ),
    ),
    engine: (
        machine_id: 7,
        node_id: 3,
    ),
)