(
    http: (
        host: "127.0.0.1",
    ),
    collection: (
        flink: (
            job_manager_host: "dr-flink-jm-0",
        ),
    ),
    engine: (
        machine_id: 1,
        node_id: 1,
    ),
)